<p>
  This module provides a new functionality that let you be able to extends the core entity templates suggestions with other totally cutomized.<br>
  The module provides a field type named template_suggester where you can select the new customized suggestion.<br>
  It gives you the ability to display one structure display in multiple ways.
</p>

<h3>
  REQUIREMENTS
</h3>

<p>The core field module.</p>

<h3>INSTALLATION</h3>
Install as you would normally install a contributed Drupal module.

<h3>CONFIGURATION</h3>
<ol>
  <li>Create template_suggester.yml in your active theme folder and add your template suggestions.</li>
  <li>Add Template Suggester field in to your entity.</li>
  <li>Add a content and select suggestion as you wish.</li>
  <li>Once you have a different template for your content you have no limits to customize it.</li>
</ol>

<h3>Template suggestion Logic</h3>

<ul>
  <li>ENTITY__SELECTED_SUGGESTER</li>
  <li>ENTITY__CURRENT_BUNDLE__SELECTED_SUGGESTER</li>
  <li>ENTITY__SELECTED_SUGGESTER__VIEW_MODE</li>
  <li>ENTITY__CURRENT_BUNDLE__SELECTED_SUGGESTER__VIEW_MODE</li>
</ul>


<h3>Example yml configuration</h3>

<pre>
node: (ENTITY)
  style_1: (SELECTED_SUGGESTER)
  name: Visible name
  bundles:
    - article (CURRENT_BUNDLE)
</pre>

<h3>Suggestion Output</h3>

<pre>
node--style-1.html.twig
node--article--style-1.html.twig
node--style-1--full.html.twig
node--article--style-1--full.html.twig
</pre>

<hr>
<p>Tested and works fine with follow entities.</p>

<ol>
  <li>node</li>
  <li>taxonomy_term</li>
  <li>paragraph</li>
</ol>
