#pourquoi-nous{
    text-align: center;
    margin-top: 2em;
    color: $first-color;
    margin-bottom: 6em;
    position: relative;
    .titre-pourquoi-nous{
        font-weight: bold;
        text-transform: uppercase;
        @include titre-margin;
        position: relative;
        &::before{
            @include font-icon('\f2bd');
        }
        &::after{
            content: ' ';
            width: 53px;
            height: 3px;
            background: $first-color;
            display: inline-block;
            position: absolute;
            top: 140%;
            right: 50%;
            transform: translate(19%);
        }
    }
    .paragraphe-pourquoi-nous{
    }
    .icone-pourquoi-nous{
        position: absolute;
        font-size: 11em;
        right: 20%;
        top: 84%;
        transform: rotate(45deg);
        opacity: 0.6;
        &::before{
            @include font-icon('\f2bd');
        }
    }
}
#nos-services{
    padding-bottom: 3em;
    border-top : 1px  solid $first-color;
    .titre-nos-services{
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        @include titre-margin;
        position: relative;
        color: $first-color;
        &::before{
            @include font-icon('\f1c9');
        }
        &::after{
            content: ' ';
            width: 53px;
            height: 3px;
            background: $first-color;
            display: inline-block;
            position: absolute;
            top: 140%;
            right: 50%;
            transform: translate(19%);
        }
    }
    .pole-nos-services{
        text-align: center;
        padding: 0.5em;
        border: 3px solid;
        border-radius: 41px;
        max-height: 35em;
        height: 100%;
        padding-bottom: 2em;
        position: relative;
        overflow: hidden;
        background-color: white;
        z-index: 10;
        .info-nos-services{
            .titre-pole-nos-services{
                margin: 0.5em;
                text-transform: uppercase;
                color: $first-color;
                height: 68px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .paragraphe-pole-nos-services{
                margin-bottom: 2rem;
            }
            .image-pole-nos-services{
                .field--name-field-vignette{
                    float: none;
                    margin: 0;
                    img{
                        width: 100%;
                        max-width: 370px;
                        max-height: 270px;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .en-savoir-pole-nos-services{
                color: black;
            }
            .paragraphe-pole-nos-services-responsive,.en-savoir-plus-nos-services-responsive{
                display: none;
            }
        }
        .overlay-nos-services{
            position: absolute;
            bottom: 100%;
            left: 0;
            right: 0;
            background-color: rgba(20,79, 134, 0.8);
            overflow: hidden;
            width: 100%;
            height:0;
            transition: .5s ease;
            .paragraphe-pole-nos-services{
                position: relative;
                top: 30%;
                color: white;
                padding: 0 2em;
            }
            .en-savoir-pole-nos-services{
                position: relative;
                top: 50%;
                color: white;
                text-decoration: none;
                padding: 10px 20px;
                background-color: $first-color;
                font-weight: bold;
                transition: 0.3s ease-in-out;
                &:hover{
                    color: $first-color;
                    background: white;
                }
            }
        }
        &:hover{
            .overlay-nos-services{
                bottom: 0;
                height: 100%;
            }
        }
        @media (max-width: 1399.98px) {
            .titre-pole-nos-services{
                padding: 0;
            }
        }
        @media (max-width: 1199.98px) {
            .titre-pole-nos-services{
                padding: 0px 1em;
            }
        }
        @media (max-width: 767.98px) {
            .overlay-nos-services{
                display: none;
            }
            .paragraphe-pole-nos-services-responsive,.en-savoir-plus-nos-services-responsive{
                display: block !important;
            }
        }
    }

    @media (max-width: 991.98px) {
        .pole-nos-services{
            margin-bottom: 6em;
        }
    }
    .icone-nos-services{
        position: absolute;
        font-size: 11em;
        left: 14%;
        top: 69%;
        transform: rotate(-45deg);
        opacity: .6;
        z-index: 1;
        &::before{
            @include font-icon('\f1c9');
        }
    }
}
#qualite{
    padding-top: 3em;
    padding-bottom: 4px;
    .texte-qualite{
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
    }
    .image-qualite{
        .field--name-field-image{
            margin: 0;
            img{
                clip-path: polygon(34% 0, 100% 0, 75% 100%, 0% 100%);
                width: 100%;
                max-width: 100%;
                margin: 0;
            }
        }
    }
    @media (max-width: 991.98px) {
        position: relative;
        padding-top: 0;
        padding-bottom: 1em;
        .texte-qualite{
            @include center-element;
            z-index: 20;
            background-color: white;
            padding: 10px;
        }
        .image-qualite{
            z-index: 10;
        }
    }
    @media (max-width: 575.98px) {
        .texte-qualite{
            position: relative;
            transform: none;
            top: 0;
            left: 0;
        }
    }
}

#objectif-clair{
    background-color: $first-color;
    color: white;
    padding: 3em 0;
    margin-bottom: 3px;
    .titre-objectif-clair{
        text-align: center;
        margin-bottom: 3em;
        text-transform: uppercase;
        position: relative;
        text-decoration: underline;
        &::before{
            @include font-icon('\f080');

        }
    }
    .argument-objectif-clair{
        text-align: center;
        .image-argument-objectif-clair{
            img{
                max-width: 300px;
                max-height: 225px;
                object-fit: cover;
                width: 100%;
            }
        }
        .texte-argument-objectif-clair{
            text-align: center;
            padding: 2em 4em;
        }
    }
}
.block{
    @extend .argument-objectif-clair ;
    
}
#teaser-conseils{
    padding: 3em 0;
    .titre-teaser-conseils{
        text-align: center;
        width: 100%;
        text-transform: uppercase;
        position: relative;
        font-weight: bold;
        margin-bottom: 3em;
        color: $first-color;
        &::before{
            @include font-icon('\f0eb');

        }
        &::after{
            content: ' ';
            width: 53px;
            height: 3px;
            background: $first-color;
            display: inline-block;
            position: absolute;
            top: 140%;
            right: 50%;
            transform: translate(19%);
        }

    }
    .bloc-teaser-conseils{
        padding: 1em;
        margin-bottom: 2em;
        color: $third-color;
        background: $grey;
        position: relative;
        .image-teaser-conseils{
            img{
                max-width: 435px;
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin: 0;
                max-height: 288px;
            }
        }
        .titre-contenue-teaser-conseils{
            text-transform: uppercase;
            margin-bottom: 0;
        }
        .categorie-teaser-conseils{
            color: grey;
            font-weight: bold;
        }
        .paragraph-teaser-conseils{
            margin-top: 1em;
        }
        .savoir-plus-teaser-conseils{
            color: $third-color;
        }
        .date-teaser-conseils{
            position: absolute;
            color: grey;
            bottom: 7%;
            right: 3%;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    @media (max-width: 991.98px) {
        .titre-teaser-conseils{
            margin-bottom: 2em;
        }
        .bloc-teaser-conseils{
            text-align: center;
            .titre-contenue-teaser-conseils{
                margin-top: 0.5em;
            }
            .date-teaser-conseils{
                bottom: 1%;
            }
        }
    }
}
#block-views-block-article-block-2{
    .more-link{
        text-align: center;
        margin: 3em 0;
        a{
            margin-top: 2em;
            border: 1px solid $third-color;
            padding: 10px 2em;
            color: $third-color;
            text-decoration: none;
            font-size: 1.4em;
            border-radius: 10px;
            transition: 0.3s;
            &:hover{
                background-color: $third-color;
                color: white;
            }
        }
    }
    @media (max-width: 575.98px) {
        .more-link{
            a{
                padding: 10px 18px;
            }
        }
    }
}
#bloc-blog-listing{
        margin: 1em;
        text-align: center;
        position: relative;
        .image-blog-listing{
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
        .titre-blog-listing{
            color: white;
            position: absolute;
            bottom: -3%;
            padding: 10px;
            background-color: $third-color;
            width: 100%;
            text-transform: uppercase;
        }
    }
#blog-article{
    padding: 2em;
    margin: 1em;
    .titre-blog-article{

    }
    p{
        img{
            max-width: 300px;
            height: 300px;
            object-fit: cover;
        }
        & > span{
            text-decoration : underline;
        }
        .bouton-blog-article{
            display: block;
            position: relative;
            left: 50%;
            background: #fff;
            padding: 10px 2em;
            transform: translate(-50%);
            font-size: 1.4em;
            border-radius: 35px;
            border: none;
            margin: 1em 0;
            color: #014f86;
            text-align: center;
            width: fit-content;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

.node--type-page{
    .container{
        & > header{
            background-color: inherit;
            h1{
                color: black;
                text-align: center;
                margin: 2em 0;
            }
        }
    }
}
.js-form-item-field-type-article-blog-target-id{
    width: 100%;
    text-align: end;
    margin: 2em 0;
    & > label{
        margin: 0 2em;
    }
    #edit-field-type-article-blog-target-id{
        width: fit-content;
        text-align: center;
        display: inline-block;
    }
    @media (max-width: 767.98px) {
        text-align: center;
    }
        form{
            margin : 0;
        }
}
.webform-button--submit{
    background-color: $first-color !important;
    border: 1px solid $first-color !important;
    width: 100%;
    transition: 0.3s;
    &:hover{
        background-color: white!important;
        color: $first-color!important;
    }
}