footer{
    background-image: url('../../custom-subtheme/asset/image-galaxie.jpeg') !important;
    background-size: cover !important;
    color: white;
    text-align: center;
    padding: 3em 0;
    height: auto;
    position: relative;
    z-index: 1;
    &::before{
        left: 0;
        content: "";
        z-index: 10;
        position: absolute;
        background-color: $third-color;
        width: 100%;
        opacity: 0.8;
        top: 0;
        height: 100%;
    }
    .site-footer__bottom{
        border: none;
        margin: 0;
    }
    .navbar-brand{
        z-index : 20;
        position: relative;
        font-size: 2rem;
        text-transform: uppercase;
        color: white;
        padding: 0;
        margin: 0;
        &::after{
            content: " ™ ";
        }
    }
    .nav{
        display: block;
        z-index : 20;
        position: relative;
        .nav-item{
            transition: 0.3s;
            .nav-link{
                color: white;
                padding: 0.2em;
            }
        &:hover{
            .nav-link{
                text-decoration: underline;
            }
        }
        }
    }
}