#webform-submission-contact-node-6-add-form{
    background-color: $grey;
    padding: 1em;
    margin-bottom: 1em;
    label{
        color: $first-color;
        font-weight: bold;
    }
    .webform-button--submit{
        background-color: $first-color;
        transition: 0.3s;
        border: none;
        width: 100%;
        &:hover{
            background-color: white;
            color: $first-color !important;
            border: 1px solid $first-color;
        }
    }
}