header{
    background: $first-color;
    #navbar-main{
        background-color: inherit;
    }
    .navbar{
        .navbar-brand{
            color: white;
            font-size: 1.5em;
            text-transform: uppercase;
        }
        .nav{
            .nav-item{
                transition: all 0.2s ease-in-out;
                padding: 0 1.2em;
                .nav-link{
                    color: white;
                }
                &:hover{
                    .nav-link{
                        opacity: 0.8;
                    }
                }
            }
            .dot{
                width: 6px;
                height: 6px;
                background: white;
                border-radius: 50%;
                opacity: 0;
                transform: translate(-700px, 32px);
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
            }
            .nav-item:nth-child(1):hover ~ .dot{
                transform: translate(-505px, 32px);
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                opacity: 1;
            }
            .nav-item:nth-child(2):hover ~ .dot{
                transform: translate(-357px, 32px);
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                opacity: 1;
            }
            .nav-item:nth-child(3):hover ~ .dot{
                transform: translate(-226px, 32px);
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                opacity: 1;
            }
            .nav-item:nth-child(4):hover ~ .dot{
                transform: translate(-87px, 32px);
                -webkit-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
                opacity: 1;
            }
        }
    }
    .menu-responsive{
        display: none;
        color: white;
        padding: 5px 10px;
        border: 1px solid white;
        border-radius: 4px;
    }
    @media (max-width: 991.98px) {
        .nav{
            text-align: center;
            .nav-item{
                border-bottom: 1px solid white;
                &:last-child{
                    background-color: white;
                    border: none;
                    .nav-link{
                        color: $first-color;
                    }

                }
            }
        }
        .menu-responsive{
            display: block;
        }
    }
}
.region-featured-top{
    margin-top: 0.1em;
    position: relative;
    .background-featured-top{
        width: 100%;
        height: 30em;
        z-index: 0;
        position: relative;
        background-size: cover;
        &:before{
            left: 0;
            content: "";
            z-index: 10;
            position: absolute;
            background-color: #001A2C;
            width: 100%;
            opacity: 0.8;
            top: 0;
            height: 30em;
        }
    }
    #block-paragraphefeaturedtop{
        text-align: center;
        position: absolute;
        z-index: 20;
        color: white;
        @include center-element;
        h2{
            font-weight: 600;
        }
        p{
            font-size: 1.2em;
        }
        .field--name-field-lien{
            margin-top: 3em;
            a{
                padding: 0.5em 2em;
                color: $first-color;
                text-decoration: none;
                background-color: white;
                border-radius: 10px;
                transition: 0.3s;
                &:hover{
                    color : white;
                    background-color: $first-color;
                }
            }
        }
    }
    
    @media (max-width: 575.98px) {
        .boutton-featured-top{
            padding: 0.5em;
            font-size: 0.8em;    
        }
        .paragraphe-featured-top{
            font-size: 1em !important;
        }
    }
}
.featured-top__inner{
    position: relative;
    .background-featured-top-inner{
        width: 100%;
        height: 18em;
        z-index: 0;
        background-size: cover;
        &:before{
            content: "";
            display: none !important;
        }
    }
    #block-titredepage{
        position: absolute;
        top: 50%;
        z-index: 10;
        .title{
            @include center-element;
            background-color: $first-color;
            padding: 0.2em 2em;
            text-transform: uppercase;
            color: white;
            
        }
    }
}
#featured-top-outside{
    margin-top: 2px;
    .background-featured-top-outside{
        width: 100%;
        height: 18em;
        z-index: 0;
        background-size: cover;
        &:before{
            content: "";
            display: none !important;
        }
    }
    .titre-featured-top-outside{
        @include center-element;
        background-color: $first-color;
        padding: 0.2em 2em;
        text-transform: uppercase;
        color: white;
    }
}
.navbar-toggler{
    background-color: white;
    .navbar-toggler-icon{
    }
&:focus {
    box-shadow: 0 0 0 0.25rem $first-color!important;
}

}