{#
/**
 * @file
 * Theme implementation for a 'webform' element.
 *
 * This is an copy of the webform.html.twig theme_wrapper which includes the
 * 'title_prefix' and 'title_suffix' variables needed for
 * contextual links to appear.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the webform.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_webform()
 * @see _webform_form_after_build()
 *
 * @ingroup themeable
 */
#}
<form{{ attributes }}>
  <div class="row">
    <div class="form-group col-lg-6 col-md-12">
      {{ element.elements.entreprise }}
      {{ element.elements.name }}
      {{ element.elements.email }}
      {{ element.elements.numero_de_telephone }}
    </div>
    <div class="form-group col-lg-6 col-md-12">
      {{ element.elements.subject }}
      {{ element.elements.message }}
      {{ element.elements.actions }}

    </div>
  </div>




</form>
